streamlit
streamlit-chat
langchainhub
wikipedia
duckduckgo-search
openai
langchain
langchain-openai
langchain-community
python-dotenv

# 캘린더
streamlit_calendar

# 로그인 관련
streamlit-oauth
streamlit-cookies-manager    # 로그인 유지를 위한 쿠키

# 구글 권한 관련
google-api-python-client
google-auth
google-auth-oauthlib

# 번역 라이브러리 
deep-translator